.App {
  text-align: center;
  background-color: gray;
  padding: 10rem auto;
  height: 100vh;
}

.Display {
  /* background-color: pink; */
  font: Arial;
  height: 20rem;
  padding-top: 10rem;
}

.Title {
  font-size: 50px;
}

.Team {
  font-size: 100px;
}

.Button {
  height: 100px;
  width: 1000px;
  border-radius: 10px;
}
